<body>

    <div class="back">
        <button routerLink="/">Back</button>
        <br><br>
    </div>   

    <form>
        <div class="login">
            <label for="username"><b>Username: </b></label>
            <input type="text" placeholder="Enter Username" name="username" required>
            <br><br>

            <label for="password"><b>Password: </b></label>
            <input type="text" placeholder="Enter Password" name="password" required>
            <label for="repass"><b>Re-enter Password: </b></label>
            <input type="text" placeholder="Enter Password" name="repass" required>
            <br><br>

            <button type="submit" routerLink="/home">Sign up</button>
        </div>
    </form>

</body>
