<style>

    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    }

    li {
    float: left;
    }

    li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    }

</style>

<header>
        <div class="container">
            <h1>Peerwise</h1>
            <hr>
            <nav>
                <ul>
                  <li><a href="#" routerLink="/home">Questions</a></li>
                  <li><a href="#" routerLink="/list">Answered</a></li>
                  <li><a href="#" routerLink="/signin">Leaderboard</a></li>
                  <li style="float:right"><a href="#" routerLink="/">Logout</a></li>
                </ul>
            </nav>
        </div>
</header>
